@page "/about"
<div class="content">
    <h2>BMSPACE</h2>
    <p>Is an affordable and comfortable workplace for you or your startup to collaborate and get things done</p>
    <address style="color:#666">
        <br />
        <span class="oi oi-location"></span>  Jl. Melati No.22A Taman Cimanggu<br />
        <span style="padding-left:2px;" class="oi oi-phone"></span>  +62 817-4810-345
    </address>
    <address>
        <span class="oi oi-envelope-closed"></span> <a href="mailto:Support@example.com">  bmc@gmail.com</a><br />
    </address>
</div>

@code {

}
