@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <LoginDisplay />
    <div class="content px-4">
        @Body
        <hr style="background:black" />
        <footer style="color:#666">
            <p>&copy; BMSPACE 2020</p>
        </footer>
    </div>

    <BlazoredToasts Position="ToastPosition.BottomRight"
                    Timeout="10"
                    SuccessClass="success-toast-override"
                    ErrorClass="fa fa-bug" />
</div>
