@page "/cctv"
<div class="container">
    <div style="text-align: center; padding-bottom: 10px;">
        <strong style="font-size:25px">BMSPACE SECURITY CONTROL 0.1</strong>
    </div>
    <div class="box">
        <div style="width: 500px; padding: 10px 0px; height: 200px; background: #0000ff8a; color: white; margin-bottom: 10px;border-radius: 5px;">
            <h4 align="center">CCTV 1</h4>
            <br /><br /><br /><br />
            <p align="center" style=" border-top: 1px solid; padding-top: 15px;">Area Parkiran</p>
        </div>
        <div style=" width: 500px; padding: 10px 0px; height: 200px; background: #0000ff8a; color: white; margin-bottom: 25px; margin-left: 610px; margin-top: -210px;border-radius: 5px;">
            <h4 align="center">CCTV 2</h4>
            <br /><br /><br /><br />
            <p align="center" style=" border-top: 1px solid; padding-top: 15px;">Area Lantai 2</p>
        </div>
        <div style=" width: 500px; padding: 10px 0px; height: 200px; background: #0000ff8a; color: white; margin-bottom: 25px;border-radius: 5px;">
            <h4 align="center">CCTV 3</h4>
            <br /><br /><br /><br />
            <p align="center" style="border-top: 1px solid; padding-top: 15px;">Area Lantai 1</p>
        </div>
        <div style="width: 500px; padding: 10px 0px; height: 200px; background: #0000ff8a; color: white; margin-left: 610px; margin-top: -225px;border-radius: 5px;">
            <h4 align="center">CCTV 4</h4>
            <br /><br /><br /><br />
            <p align="center" style="border-top: 1px solid; padding-top: 15px;">Area Belakang</p>
        </div>
    </div>
</div>
@code {

}
