@page "/cctv"
<div class="container">
    <h1>
        <strong style="font-size:25px">BMSPACE SECURITY CONTROL 0.1</strong>
    </h1>
    <div class="row">
        <div class="col-5 mr-1" style="padding: 10px 0px; height: 200px; background: #0000ff8a; color: white; margin-bottom: 10px;border-radius: 5px;">
            <h4 align="center">CCTV 1</h4>
            <br /><br /><br /><br />
            <p align="center" style=" border-top: 1px solid; padding-top: 15px;">Area Parkiran</p>
        </div>
        <div class="col-5 mr-1" style=" padding: 10px 0px; height: 200px; background: #0000ff8a; color: white; margin-bottom: 25px;border-radius: 5px;">
            <h4 align="center">CCTV 2</h4>
            <br /><br /><br /><br />
            <p align="center" style=" border-top: 1px solid; padding-top: 15px;">Area Lantai 2</p>
        </div>
        <div class="col-5 mr-1" style=" padding: 10px 0px; height: 200px; background: #0000ff8a; color: white; margin-bottom: 25px;border-radius: 5px;">
            <h4 align="center">CCTV 3</h4>
            <br /><br /><br /><br />
            <p align="center" style="border-top: 1px solid; padding-top: 15px;">Area Lantai 1</p>
        </div>
        <div class="col-5 mr-1" style="padding: 10px 0px; height: 200px; background: #0000ff8a; color: white;  border-radius: 5px;">
            <h4 align="center">CCTV 4</h4>
            <br /><br /><br /><br />
            <p align="center" style="border-top: 1px solid; padding-top: 15px;">Area Belakang</p>
        </div>
    </div>
</div>
@code {

}
