@using BMC.Security.Web.Blazor.Helpers
@page "/cctvlog"


<table class="table table-striped">
    <thead>
        <tr>
            <th>CCTV Name</th>
            <th>CCTV</th>
            <th>Tanggal</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @if (Datas != null)
        {
            @foreach (var item in Datas)
            {
                <tr>
                    <td>@item.CCTVName</td>
                    <td><img src="@item.ImageUrl" alt="img" /></td>
                    <td>@item.Tanggal.ToString("dd/MM/yyyy HH:mm")</td>
                    <td>@item.Description</td>
                </tr>
            }
        }
        else
        {
            <p>No Data</p>
        }

    </tbody>
</table>

@code {
    static AzureTableHelper tablehelper;
    List<Models.CCTVData> Datas;
    protected override async Task OnInitializedAsync()
    {
        if (tablehelper == null) tablehelper = new AzureTableHelper("cctv");
        await RefreshGrid();
    }
    async Task RefreshGrid()
    {
        Datas = await tablehelper.GetCCTVData();

    }
}
