@page "/cctv/detail"
<div class="container">
    <div>
        <div class="search-box">
            <div style="border:1px solid;width:max-content">
                <input style="border:none;padding:0px 10px;" class="search" type="text" placeholder="Search" required>
                <button><span class="oi oi-magnifying-glass"></span></button>
            </div>
        </div>
        <br />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>NO</th>
                    <th>TIME</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td>10.00 WIB</td>
                    <td><button><span class="oi oi-media-play" aria-hidden="true"></span></button></td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>11.00 WIB</td>
                    <td><button><span class="oi oi-media-play" aria-hidden="true"></span></button></td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>12.00 WIB</td>
                    <td><button><span class="oi oi-media-play" aria-hidden="true"></span></button></td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>13.00 WIB</td>
                    <td><button><span class="oi oi-media-play" aria-hidden="true"></span></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@code {

}
